.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

section h2{
  font-size: 60px;
}

section p{
  font-size: 30px;
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


:root{
  --white-light: rgba(255, 255, 255, 0.5);
  --alice-blue: #f8f9fa;
  /* --carribean-green: #40c9a2; */
  --carribean-green: #ffce81;
  --gray: #ededed;
}

@media screen and (min-width: 968px){
  /* :root{
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  } */
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}



body{
  margin: 3rem 0 0 0;
  font-family: 'Poppins', sans-serif;
  font-size: .938rem;
  background-color: #FEFBFB;
  /* background-color: #251D1E; */
  color: #5B5757;
  line-height: 1.6;
}

h1,h2,h3,ul,p{
  margin: 0;
}

h1,h2,h3{
  font-weight: 600;
  color: #161212;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

i{
  color: #282c34;
}

span{
  color: #282c34;
}

img{
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section{
  padding: 4rem 0 2rem;
}

.section-title, .section-title-center{
  font-size: 1.25rem;
  color: #161212;
  text-align: center;
  margin-bottom: 1.5rem;
}

/*========== LAYOUT ==========*/
.l-main{
  overflow: hidden;
}

.bd-container{
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #FEFBFB;
}

/*========== NAV ==========*/
.nav{
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: #FEFBFB;
    transition: .4s;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
    border-radius: 2rem;
    z-index: 100;
  }
}

.nav__item{
  margin-bottom: 1.25rem;
}

.nav__link, .nav__logo, .nav__toggle{
  color: #161212;
  font-weight: 600;
}

.nav__logo{
  font-size: 30px;
}

.nav__logo:hover{
  color: #ffce81;
}

.nav__link{
  transition: .3s;
}

.nav__link:hover{
  color: #ffce81;
}

.nav__link i{
  font-size: 20px;
  font-weight: 600;
}


.nav__item ul{
  color: #161212;
  font-weight: 600;
  display: flex;
  transition: .3s;
  
  /* justify-content: space-between; */
}
.nav__item ul li{
  /* justify-content: space-between; */
  text-align: center;
  font-size: 27px;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
}

.nav__item ul li:hover{
    color: #ffce81;
}


.nav__toggle{
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu{
  top: calc(3rem + 1rem);
}

/* Active menu link */
.active-link{
  position: relative;
}

.active-link::before{
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: #161212;
  border-radius: 50%;
}

/* Change background header */
.scroll-header{
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
}

/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: rgba(218,37,53,.5);
  border-radius: .4rem;
  z-index: 10;
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover{
  background-color: #ffce81;
}

.scrolltop__icon{ 
  font-size: 1.5rem;
  color: #FEFBFB;
}

.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/
.home__container{
  row-gap: .5rem;
}

.home__img{
  width: 280px;
  justify-self: center;
}

.home__title{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.home__description{
  margin-bottom: 1.5rem;
}

/*========== BUTTONS ==========*/
.button{
  display: inline-block;
  background-color: #ffce81;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  font-weight: 600;
  transition: .3s;
}

.button:hover{
  background-color: #C42130;
}

.button-link{
  background: none;
  padding: 0;
  color: #ffce81;
}

.button-link:hover{
  background-color: transparent;
  color: #C42130;
}




.title{
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
 
  font-size: 100px;
  /* margin-top: 50px; */
  /* margin-left: auto; */
  letter-spacing: 20px;
}


/*========== MEDIA QUERIES ==========*/

/* For full-screen images on small screens */

@media screen and (max-width: 359px){
  .home__img,
  .share__img,
  .send__img{
    width: 100%;
  }
}

@media screen and (min-width: 576px){
  .home__container,
  .share__container,
  .send__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  .home__container{
    padding: 5rem 0 0;
  }

  .home__img{
    order: 1;
  }

  .section-title-center,
  .share__data,
  .send__description{
    text-align: initial;
  }

  .home__img,
  .share__img,
  .send__img{
    width: 100%;
  }
  
  .share__img{
    order: -1;
  }
}

@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  .section{
    padding-top: 7rem;
  }

  .nav{
    height: calc(3rem + 1.5rem);
  }

  .nav__list{
    display: flex;
    align-items: center;
  }

  .nav__item{
    margin-left: 2.5rem;
    margin-bottom: 0;
  }
  

  .nav__toggle{
    display: none;
  }

  .change-theme{
    position: initial;
    margin-left: 2rem;
  }

  .home__container{
    padding: 7rem 2rem 0;
  }

  .share__container{
    padding: 0 2rem;
  }

  .accessory__container{
    grid-template-columns: repeat(3,224px);
    justify-content: center;
  }

  .accessory__content{
    padding: .5rem 1.5rem 1.5rem;
  }

  .accessory__img{
    width: 120px;
    margin-bottom: .5rem;
  }

  .accessory__title, .accessory__category{
    text-align: initial;
  }

  .accessory__button{
    padding: .75rem;
  }

  .send{
    background: none;
  }

  .send__container{
    background-color: #DE3B49;
    padding: 2rem;
    border-radius: 1.5rem;
  }
}

@media screen and (min-width: 968px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .home__img,
  .share__img,
  .send__img{
    width: 469px;
  }

  .home__container,
  .share__container,
  .send__container{
    column-gap: 5rem;
  }
}



img{
  width: 100%;
  display: block;
}
.container{
  width: 88vw;
  margin: 0 auto;
}
.lg-title,
.md-title,
.sm-title{
  font-family: 'Roboto', sans-serif;
  padding: 0.6rem 0;
  text-transform: capitalize;
}
.lg-title{
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
}
.md-title{
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}
.sm-title{
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}
.text-light{
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.5;
  margin: 0.4rem 0;
}

/* product section */
.products{
  background: var(--alice-blue);
  padding: 3.2rem 0;
}
.products .text-light{
  text-align: center;
  width: 70%;
  margin: 0.9rem auto;
}
.product{
  margin: 2rem;
  position: relative;
}
.product-content{
  background: var(--gray);
  padding: 3rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
  border-radius: 50px;
}

.product-content:hover{
  box-shadow: -13px 10px 17px 2px rgba(0,0,0,0.51);
-webkit-box-shadow: -13px 10px 17px 2px rgba(0,0,0,0.51);
-moz-box-shadow: -13px 10px 17px 2px rgba(0,0,0,0.51);
}

.product-img{
  background: var(--white-light);
  box-shadow: 0 0 20px 10px var(--white-light);
  /* width: 200px;
  height: 200px; */
  margin: 0 auto;
  border-radius: 50px;
  transition: background 0.5s ease;
}

.product-img img{
  width: 200px;
  height: 250px;
  margin: 0 auto;
}

.product-img p{
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin: 10px auto;
  text-transform: capitalize;
  transition: background 0.5s ease;
}


.product-btns{
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
  opacity: 0;
  transition: opacity 0.6s ease;
}
.btn-cart, .btn-buy{
  background: transparent;
  border: 1px solid black;
  padding: 0.8rem 0;
  width: 125px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
  border-radius: 15px;
}
.btn-cart{
  background: var(--carribean-green);
  /* background: black; */
  color: black;
  font-weight: 600;
}
.btn-cart:hover{
  background: var(--carribean-green);
}
.btn-buy{
  background: white;
}
.btn-buy:hover{
  background: var(--carribean-green);
  color: #fff;
}
.product-info{
  background: white;
  padding: 2rem;
}
.product-info-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating span{
  color: var(--carribean-green);
}
.product-name{
  color: black;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.product-price{
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  display: inline-block;
}
.product-price:first-of-type{
  text-decoration: line-through;
  color: var(--carribean-green);
}
.product-img img{
  transition: transform 0.6s ease;
}
.product:hover .product-img img{
  transform: scale(1.1);
}
.product:hover .product-img{
  background: var(--carribean-green);
}
.product:hover .product-btns{
  opacity: 1;
}
.off-info .sm-title{
  background: var(--carribean-green);
  color: white;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  letter-spacing: 3px;
  cursor: pointer;
}



/* Media Queries */
@media screen and (min-width: 992px){
  .product-items{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .product-col-r-bottom{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px){
  .product-items{
      grid-template-columns: repeat(3, 1fr);
  }
  .product{
      margin-right: 1rem;
      margin-left: 1rem;
  }
  .products .text-light{
      width: 50%;
  }
}

@media screen and (min-width: 1336px){
  .product-items{
      grid-template-columns: repeat(4, 1fr);
  }
  .product-collection-wrapper{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .flex{
      height: 60vh;
  }
  .product-col-left{
      height: 121.5vh;
  }
}



.product-items-list{
  width: 80%;
  border: 1px solid salmon;
  margin:  0 auto;
}

/* product-name{
  text-align: center;
  font-size: 100px;
  font-weight: 600;
  margin: 10px auto;
  transition: background 0.5s ease;
} */

.cart-item-num{
  position: absolute;
  /* top: -2px; */
  font-size: 15px;
}

.cart-item-online{
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #61dafb;
  /* left: 20px; */
  left: 20px;
  top: 4px;
}


.product-items-single{
  width: 98%;
  margin: 20px auto;
  /* border: 1px solid black; */
}

.singleProduct{
  width: 90%;
  margin: 20px auto;
  border: 1px solid salmon;
  display: flex;
}

.singleProduct-img{
  width: 40%;
  margin: 20px;

}

.singleProduct-img img{
  width: 250px;
  margin: 10px auto;
}

.singleProduct-details{
  width: 60%;
  margin: 20px;
  padding: 20px;
  border: 1px solid silver;
  position: relative;
}

.s-p-title-small{
  font-size: 35px;
  font-weight: 700;
  color: #282c34;
  text-align: left;
}

.s-p-title{
  font-size: 16px;
  text-align: left;
  font-weight: 600;
}

.s-p-description{
  margin-top: 10px;
  font-size: 13px;
  text-align: left;
}

.s-p-catagory{
  position: absolute;
  top:-15px;
  right: 10px;
  background-color: #ffce81;
  border: 1px solid beige;
  padding: 3px 10px;
  text-transform: capitalize;
  border-radius: 20px;
}

.s-p-price-portion{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.s-p-price{
  font-size: 30px;
  font-weight: 700;
  color: #282c34;
}

.s-p-btn{
  width: 200px;
  border: 1px solid #282c34;
  outline: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 18px;  
}

.s-p-btn:hover{
  /* background-color: #282c34; */
  text-transform: scale(1.5);
}




.cart-container{
  display: flex;
  /* width: 100%; */
  margin: 20px auto;
  border: 1px solid black;
}

.cart-product{
  width: 80%;
}

.cart-details{
  margin: 20px;
  margin-bottom: 50px;
  padding-bottom: 40px;
  width: 20%;
  border: 1px solid salmon;
  position: relative;
}


.cartProduct{
  display: flex;
  width: 96%;
  border: 1px solid salmon;
  margin: 20px;
  position: relative;
}

.cartProduct-img{
  width: 10%;
  margin: 10px;
  /*border: 1px solid sandybrown;*/
}

.cartProduct-img img{
  width: 50px;
  /* width: 100%; */
  margin: 2px auto;
}

.cartProduct-details{
  width: 90%;
  margin: 20px;
  display: flex;
  align-items: center;
  
}

.c-p-title-small{
  width: 50%;
  font-size: 20px;
  color: #282c34;
  font-weight: 600;
  text-align: left;
}

.c-p-catagory{
  position: absolute;
  font-size: 12px;
  top:-15px;
  right: 10px;
  background-color: #ffce81;
  border: 1px solid beige;
  padding: 3px 10px;
  text-transform: capitalize;
  border-radius: 20px;
}

.c-p-price{
  width: 20%;
  font-size: 20px;
  color: #282c34;
  font-weight: 500;
}
.c-p-price1{
  width: 200px;
}


.c-p-btn{
  width: 20%;
  border: none;
  /* border: 1px solid #282c34;
  border-radius: 50%; */
  outline: none;
  background-color: inherit;
  font-size: 30px;
  color: #282c34;
}
.c-p-btn1{
  margin-left: 80px;
  width: 40px;
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 25px;
  color: #DE3B49;
}

.c-s-heading{
  font-size: 25px;
  font-weight: 700;
  color: #282c34;

}

.c-s-totalItems , .c-s-totalAmmout{
  font-size: 16px;
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
}

.c-s-paybtn{
  position: absolute;
  top:135px;
  left:70px;
  width: 100px;
  border: none;
  padding: 8px;
  border-radius: 40px;
  /* background-color: #f8d8a5; */
  background-color: #ffce81;
  border: 1px solid beige;
  color: #5B5757;
}


@media screen and (max-width : 800px){
  .singleProduct{
    width: 96%;
    margin: 20px auto;
    border: 1px solid salmon;
    display: flex;
    flex-direction: column;
  }

  .singleProduct-img{
    width: 90%;
    margin: 20px;
  }

  .singleProduct-details{
    width: 90%;
    margin: 20px;
    padding: 20px;
    border: 1px solid silver;
    position: relative;
  }

  .s-p-price-portion{
    margin-top: 30px;
    display: block;
    flex-direction: column;
  }

  .s-p-btn{
    margin-top: 10px;
    width: 200px;
    border: 1px solid #282c34;
    outline: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 18px;  
  }

}

@media screen and (max-width : 1200px){
  .cart-container{
    display: flex;
    /* flex-direction: column-reverse; */
    margin: 20px auto;
    border: 1px solid black;
  }


}